.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.searchCard {
  padding: 16px;
}

.year-card {
  display: inline-block;
  border: 1px solid black;
  width: 80px;
  text-align: center;
  border-radius: 10px;
  background-color: #c9e4aa;
}

.year-card:nth-child(odd) {
  float: right;
}

.stage-text{
  text-align: center;
  text-decoration: underline;
}

@media(max-width: 600px) {
  .container,.mobile-view-items-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .year-card {
    width: 75px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1028px) {
  .year-card {
    min-width: 62px;
  }
} 

.bgColor {
  background: rgb(242,242,242);
}

.titleStyle {
  color: black;
  font-size: larger;
  font-weight: 600;
  padding: 10px;
  margin: 0px;
}

cdk-virtual-scroll-viewport {
  width: 100%;
  height: 80vh;
  overflow-x: hidden;
}

.developedBy {
  color:black;
  font-weight: 600;
  height: auto;
  margin: 0px;
}
.align-center{
  text-align: center;
}

.missionName {
  color: rgb(48,57,135);
  font-size: initial;
  font-weight: 500;
}

